<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="../static/Dynamic.css" />
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" /> -->
</head>

<body>
  <!-- <a href="games" class="back">BACK</a> -->
  <div id="dsc-contain">
    <div class="dsc">
      <h1 class="dsc-title">Game Description</h1>
      <p class="dsc-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus non
        fuga, quasi cupiditate fugiat vero doloremque veritatis dolores
        corrupti odio distinctio minima? Quod iusto mollitia maiores, sequi
        provident tempora aliquam!
      </p>
    </div>
    <form action="">
      <div class="question">
        <label>How Many number you want <span>(max :6)</span>:</label>
        <div class="form-control">
          <input type="text" onkeypress="numOnly(event)" class="input-group" id="num" placeholder="Enter here"
            maxlength="1" required>
        </div>
        <label>How Many colors you want <span>(max :6)</span>:</label>
        <div class="form-control">
          <input type="text" onkeypress="numOnly(event)" class="input-group" id="color" placeholder="Enter here"
            maxlength="1" required>
        </div>
        <label>How Many letter you want <span>(max :26)</span>: </label>
        <div class="form-control">
          <input type="text" onkeypress="numOnly(event)" class="input-group" id="letter" placeholder="Enter here"
            maxlength="2" required>
        </div>
      </div>
    </form>
    <button name="forwardBtn" class="start_btn" type="submit">Start</button>
  </div>

  <div class="container">
    <div class="score-display">

      <div class="history">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Guessed</th>
              <th scope="col">Correct</th>
              <th scope="col">Right POS</th>
              <th scope="col">Wrong POS</th>
            </tr>
          </thead>
          <tbody class="list"></tbody>
        </table>
      </div>

      <div class="card-lbl">
        <div class="lbls">
          <span class="lbl">Score:</span>
          <span class="lbl" id="txt-score">0</span>
        </div>
        <section class="lbl-score">
          <div class="record g">
            <span class="score">Correct:</span>
            <span class="score" id="correct">0</span>
          </div>
          <div class="record y">
            <span class="score">Right:</span>
            <span class="score" id="cright">0</span>
          </div>
          <div class="record r">
            <span class="score">Wrong:</span>
            <span class="score" id="cwrong">0</span>
          </div>
          <div class="record-1 r">
            <span class="score">Enter:</span>
            <span class="score" id="cwrong"></span>
          </div>
        </section>
      </div>
    </div>
    <form id="formHandler">
      <div class="card">
        <div class="alert alert-danger" id="msg"></div>
        <div class="inputs">
          <input type="text" class="inputz" required />
          <!-- <input type="text" class="inputz" required />
            <input type="text" class="inputz" required />
            <input type="text" class="inputz" required /> -->
        </div>
        <div class="keypad">
          <div class="frow">
            <button class="pads" value="1">1</button>
            <button class="pads" value="2">2</button>
            <button class="pads" value="3">3</button>
            <button class="pads" value="4">4</button>
            <button class="pads" value="5">5</button>
            <button class="pads" value="6">6</button>
            <button class="pads" value="7">7</button>
            <button class="pads" value="8">8</button>
            <button class="pads" value="9">9</button>
            <button id="clear" style="grid-column: span 2 / auto;width: 100%;" value="&#8592">
              BACKSPACE
            </button>
          </div>
          <div class="srow">
            <button class="pads" value="Q">Q</button>
            <button class="pads" value="W">W</button>
            <button class="pads" value="E">E</button>
            <button class="pads" value="R">R</button>
            <button class="pads" value="T">T</button>
            <button class="pads" value="Y">Y</button>
            <button class="pads" value="U">U</button>
            <button class="pads" value="I">I</button>
            <button class="pads" value="O">O</button>
            <button class="pads" value="P">P</button>
            <button class="run" type='submit' value=" ">SUBMIT</button>
          </div>
          <div class="throw">
            <button class="pads" value="A">A</button>
            <button class="pads" value="S">S</button>
            <button class="pads" value="D">D</button>
            <button class="pads" value="F">F</button>
            <button class="pads" value="G">G</button>
            <button class="pads" value="H">H</button>
            <button class="pads" value="J">J</button>
            <button class="pads" value="K">K</button>
            <button class="pads" value="L">L</button>
            <button class="pads" value="Z">Z</button>
            <button class="pads" value="X">X</button>
          </div>
          <div class="throw">

            <button class="pads" value="C">C</button>
            <button class="pads" value="V">V</button>
            <button class="pads" value="B">B</button>
            <button class="pads" value="N">N</button>
            <button class="pads" value="M">M</button>
            <button class="pads" style="background:green" value="GREEN">GREEN</button>
            <button class="pads" style="background:brown;" value="BROWN">BROWN</button>
            <button class="pads" style="background:blue;" value="BLUE">BLUE</button>
            <button class="pads" style="background:red;" value="RED">RED</button>
            <button class="pads" style="background:yellow; color:black" value="YELLOW">YELLOW</button>
            <button class="pads" style="background:purple;" value="PURPLE">PURPLE</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <script src="../static/Dynamic.js"></script>
</body>

</html>