.game-link {
  text-decoration: none !important;
  text-transform: capitalize;
  color: white !important;
}
/* .bg-img {
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  position: absolute;
  background-image: url('../static/img/bg.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
  z-index: -2;
  filter: blur(8px);
} */
/* .test {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  margin: 0;
  padding: 0;
  height: 200vh;
  width: 100vw;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
} */
body:before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('../static/img/bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  z-index: -1;
}
