<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/custom.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <title>Game App</title>
  </head>
  <!-- this the layout template that will show in all site (theme-->

  <body>
    {% include 'includes/_navbar.html'%}
    <div class="container  mt-5 p-5 min-vh-100 main">
      <!-- making the body element dynamic aaccording to which page you go to -->
      {% include 'includes/_messages.html'%} {% block body%}{%endblock%}
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-white">
        © 2018 Copyright:
        <a href="#"> FunMathGame.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/custom-register.js"></script>
    <link rel="stylesheet" href="static/custom-form.css" />
  </body>
</html>
